{% extends 'layout.html' %}
{% load static %}
{% block title %} Welcome {% endblock %}

{% block styles %}
    <style>
        body{
            background-image: url("{% static 'images/bg9.jpg' %}");
        }
    </style>
{% endblock %}

{% block data %}

    <div class="p-2">
        <div class="container-fluid p-2 clearfix">
            <div class="mt-4 mb-1 mx-2 p-3 bg-body-secondary rounded">
                <h2 class="mb-3 fs-3 text-center"> Featured Items</h2>
                <div class="row ">
                    {% for item in featured %}
                        <div class="col-md-4">
                            <a href="{% url 'item:detail' item.id %}" class="text-decoration-none">
                                <div>
                                    <img src="{{ item.image.url }}" alt="" class="rounded-top img-fluid w-100">
                                </div>
                                <div class="p-3 bg-white rounded-bottom">
                                    <h2 class="fs-3">{{ item.name }}</h2>
                                    <p class="text-dark">Price: {{ item.price }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container-fluid p-2 clearfix">
            <div class="mt-4 mb-1 mx-2 p-3 bg-body-secondary rounded">
                <h2 class="mb-3 fs-3 text-center"> New Items</h2>
                <div class="row ">
                    {% for item in items %}
                        <div class="col-md-4">
                            <a href="{% url 'item:detail' item.id %}" class="text-decoration-none">
                                <div>
                                    <img src="{{ item.image.url }}" alt="" class="rounded-top img-fluid w-100">
                                </div>
                                <div class="p-3 bg-white rounded-bottom">
                                    <h2 class="fs-3">{{ item.name }}</h2>
                                    <p class="text-dark">Price: {{ item.price }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container-fluid clearfix p-2">
            <div class="mt-4 mb-1 mx-2 p-3 bg-body-secondary rounded">
                <h2 class="mb-3 fs-3 text-center"> Categories</h2>
                <div class="row">
                    {% for category in categories %}
                        <div class="col-md-4">
                            <a href="" class="text-decoration-none">
                                <div>
                                    <img src="{{ item.image.url }}" alt="" class="rounded-top w-100">
                                </div>
                                <div class="p-3 bg-white rounded-bottom">
                                    <h2 class="fs-3">{{ category.name }}</h2>
                                    <p class="text-dark">{{ category.items.count}}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}