{% extends 'layout.html' %}
{% load static %}
{% block title %} Contact Card {% endblock %}

{% block styles %}
    <style>
        body{
            background-image: url("{% static 'images/bg17.jpg' %}");
        }
    </style>
{% endblock %}

{% block data %}
    <div class="container-fluid p-2 clearfix">
        <h2 class="mb-5 fs-3 text-center text-white fs-4 fw-bolder bg-dark p-1 rounded-3 text-capitalize">Hi {{ user.username}}, This is your Contact Card!</h2>
        <div class="contact mt-2 p-3 container-fluid">
            <h2 class="h2cnt">
                Contact
                <br>
                Information
            </h2>
            <hr class="hrcnt">
            <h3 class="h3cnt">
                {{ contact_card.full_name}}
                <br>
                {{ contact_card.address }}
            </h3>
            <p class="pcnt">
                <span class="prefix ">Phone:</span>
                <a href="tel:#" class="phone text-decoration-underline">{{ contact_card.phone_number }}</a>
                <br>
                E-mail:
                <a class="email text-decoration-underline" href="mailto:#">{{ contact_card.email }}</a>
            </p>
            {% if contact_card.location %}
                <a href="{{ contact_card.location }}" target="_blank">
                    <i class="fas fa-map-pin"> Location Pin</i>
                </a>
            {% endif %}
        </div>
        <!--<div class="form-group col-lg-12 mx-auto mb-3 text-center">
            <a href="" class="btn btn-warning btn-lg">Edit Card</a>
        </div> -->
    </div>
{% endblock %}