{% extends 'layout.html' %}
{% load static %}
{% block title %} {{ item.name }} {% endblock %}

{% block styles %}
    <style>
        body{
            background-image: url("{% static 'images/bg8.jpg' %}");
        }
    </style>
{% endblock %}

{% block data %}

    <div class="row my-3 mx-2 p-1 ">
        <div class="col-md-8 container-fluid h-75">
            <img src="{{ item.image.url }}" alt="" class="rounded img-fluid w-100 ">
        </div>
        <div class="col-md-4 p-3 bg-body-secondary rounded">
            <h1 class="mb-2 fs-2"> {{ item.name }}</h1>
            <p class="text-muted"><strong>Price: Kshs. </strong> {{ item.price }}</p>
            <p class="text-muted"><strong>Quantity: </strong> {{ item.quantity }}</p>
            <p class="muted"><strong>Seller: </strong> {{ item.created_by }}</p>
            <p class="muted"><strong>On sale from: </strong> {{ item.created_at }}</p>
            {% if item.description%}
                <p class="muted"><strong class="text-secondary">Description: </strong> {{ item.description }}</p>
            {% endif %}
            {% if request.user == item.created_by %}
                <div class="mt-3 p-2 bg-white rounded">
                    <p class="text-secondary fw-bolder fs-4">Do you want to edit this item? </p>
                    <p><a href="{% url 'item:edit' item.id %}" class="d-inline-block mt-4 px-4 py-2 fs-5 fw-bold text-white bg-info rounded text-decoration-none"> Edit</a></p>
                    <a href="{% url 'item:delete' item.id %}" class="d-inline-block mt-4 px-4 py-2 fs-5 fw-bold text-white bg-danger rounded text-decoration-none"> Delete</a>
                </div>
            {% else %}
                <a href="{% url 'base:view_seller_contact_card' seller_id=seller.id %}" class="d-inline-block mt-4 px-4 py-2 fs-5 fw-bold text-white bg-success rounded text-decoration-none"> Contact Seller</a>
            {% endif %}
        </div>
    </div>
    <div class="mt-4 mb-1 mx-2 px-3 py-5 bg-body-secondary rounded">
        <h2 class="mb-3 fs-3 text-center text-white fs-4 fw-bolder bg-dark p-1 rounded-3"> Related Items</h2>
                <div class="simpcard-grid p-3 ms-3">
                    {% for item in related_items %}
                        <a class="simpcard rounded-5" href="{% url 'item:detail' item.id %}">
                            <div class="simpcard__background rounded-5" style="background-image: url('{{ item.image.url }}')"></div>
                            <div class="card__content">
                                <p class="card__category text-white text-outline">{{ item.category }}</p>
                                <h3 class="card__heading text-capitalize text-black fw-bolder">{{ item.name }}</h3>
                                <h3 class="fw-bolder">Kshs. {{ item.price }}</h3>
                            </div>
                        </a>
                    {% endfor %}
                </div>
    </div>

{% endblock %}