{% extends 'layout.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block styles %}
    <style>
        body{
            background-image: url("{% static 'images/bg9.jpg' %}");
        }
    </style>
{% endblock %}

{% block data %}

    <h1 class="m-3 fs-2 p-2 fw-bolder"> {{ title}}</h1>
    <div class="container justify-content-center align-items-center shadow-lg my-4 border border-light-subtle rounded-3 fw-bold">
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="my-3">
                <div class="p-3">
                    {{ form.as_p }}
                    <p class="form-check text-warning fw-bolder fs-5 p-0 m-0" id="cut-off-message">Featuring an item means that 10% will be cut off from the sale of the item.</p>
                </div>
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-2 bg-danger rounded">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <!-- Submit Button -->
            <div class="form-group col-lg-12 mx-auto mb-3">
                <button type="submit" class="btn btn-success btn-block py-2">
                    <span class="font-weight-bold">Add Item</span>
                </button>
            </div>
        </form>
    </div>

{% endblock %}