{% extends 'layout.html' %}
{% load static %}
{% block title %} Items{% endblock %}

{% block styles %}
    <style>
        body{
            background-image: url("{% static 'images/bg12.jpg' %}");

        }
    </style>
{% endblock %}

{% block data %}

    <div class="container pb-3 g-2 row pt-3 mt-2 itemcl">
        <div class="col-4">
            <form action="{% url 'item:items' %}" method="get">
                <input type="text" class="w-100 px-3 py-2 border rounded-pill" value="{{ query }}" placeholder="Search for an item....">
                <button class="mt-1 bg-success py-1 px-2 fs-5 text-white rounded-pill me-5">Search</button>
                <a href="{% url 'item:items' %}" class="text-decoration-none mt-1 bg-warning py-2 px-3 fs-5 text-white rounded-pill">Clear Filters</a>
            </form>

            <hr class="my-3 bg-dark">
            <p class="fw-bold">Categories</p>
            <ul>
                {% for category in categories %}
                	<li class="p-2 rounded {% if category_id == category_id %} bg-light-subtle{% endif %} ">
                        <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}" class="text-lg fw-bold text-decoration-none text-body "> {{ category.name }}</a>
                    </li>
                {% endfor %}

            </ul>

        </div>
        <div class="col-8">
            <div class="row ">
                {% for item in items %}
                    <div class="col-md-4">
                        <a href="{% url 'item:detail' item.id %}" class="text-decoration-none">
                            <div>
                                <img src="{{ item.image.url }}" alt="" class="rounded-top img-fluid w-100">
                            </div>
                            <div class="p-3 bg-white rounded-bottom">
                                <h2 class="fs-3">{{ item.name }}</h2>
                                <p class="text-dark">Price: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}